<div class="article">
    <h2 class="title">{{ title }}</h2>
    <h4 class="subtitle"><p>{{ subtitle }}</p></h4>
    <p class="content">{{ content }}</p>
    <div class="container-fluid author">
        <div class="row">
            <div class="col-md-3">
                <img src="static/img/avatar.jpg" alt="">
            </div>
            <div class="col-md-9">
                <p>Hier steht Text über den Author usw....</p>
            </div>
        </div>
    </div>
</div>