{% if isAdmin == true  %}
<div class="col-md-8 add-article">
    <input type="text" name="title" value="" placeholder="Title">
    <input type="text" name="subtitle" value="" placeholder="Subtitle">
    <textarea></textarea>
    <input type="text" name="tags" value="" placeholder="Tags">
    <a id="add--article" class="button pull-right">Add</a>
</div>
{% endif %}

<div class="articles">
  {% for article in articles %}
      {% set variables = {
        "article": article,
        "isAdmin": isAdmin
      }%}
      {% include 'article.html' with variables only %}
  {% endfor %}
</div>
