<div class="new--Artikel">

</div>



<div class="articles">

  <div class="col-md-8">
      <input type="text" name="title" value="" placeholder="Title">
      <textarea></textarea>
      <a href="admin/article/add" class="button pull-right">Add</a>
  </div>


    {% set name = 'Simon Czychy' %}
    {% include 'article.html' with {
        'title': 'Lorem ipsum dolor sit amet',
        'subtitle': 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr',
        'content': 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam',
        'author' : {
        'name': name,
        'avatar': {
            'image': 'static/img/avatar.jpg',
            'alt': 'Bild von ' + name ,
        },
        'desc': 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam',
        }
    } only %}
</div>
