<div class="article col-md-8">
    <h2 class="title">{{ title|raw }}</h2>
    <h4 class="subtitle"><p>{{ subtitle|raw }}</p></h4>
    <p class="content">{{ content|raw }}</p>
    <div class="container-fluid author">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ author.avatar.image }}" alt="{{ author.avatar.alt }}">
            </div>
            <div class="col-md-9">
                <p>Über {{ author.name }}:</p>
                <p>{{ author.desc }}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 tags">
    <div class="col-md-12"><div class="title">Tags:</div></div>
    <div class="col-md-12"><span class="tag">#win10</span><span class="tag">#linux</span><span class="tag">#ios10</span><span class="tag">#aosp</span></div>
</div>
