{% set author = article.authorId[0] %}
{% set title = article.title|lower|replace(' ', '-', 'g') %}
<div id="{{ title }}" class="article col-md-8">
    <h4 class="subtitle"><p>{{ article.subtitle|raw }}</p></h4>
    <h2 class="title"><a href="/article/show/{{ article.href }}">{{ article.title|raw }}</a></h2>
    <div class="article--content">{{ article.content|raw }}</div>
    {% if isAdmin and showSingleArticle %}
    <div class="moderation">
      <a id="delete--article" class="button pull-right" data-id="{{article.id}}">Löschen</a>
      <a id="edit--article" href="/article/edit/{{ article.href }}" class="button pull-right">Bearbeiten</a>
    </div>
    {% endif %}
    {% if showSingleArticle %}
    <div class="author">
        <div class="row">
            <div class="col-md-3">
                <img src="/{{ author.avatar }}" alt="{{ author.name }}">
            </div>
            <div class="col-md-9">
                <p>Über {{ author.name }}:</p>
                <p>{{ author.desc }}</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% if showSingleArticle %}
<div class="col-md-4 sidebar">
  <div class="inner">
    {% if article.tags %}
    <div class="col-md-12 tags">Tags: {% for tag in article.tags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %}</div>
    {% endif %}
    <div class="col-md-12 release--date">Datum: {{ article.releaseDate }}</div>
    <div class="col-md-12 author">Author: <a href="author/{{ author.name|lower|replace(' ','-','g') }}">{{ author.name }}</a></div>
    </div>
</div>
{% endif %}
