<div class="container-fluid header">
    <div class="container inner">
        <div class="row">
            <div class="col-md-3">
                <div class="title">{{ title }}</div>
            </div>
            <div class="col-md-3 col-md-offset-3 login pull-right">
                <a class="btn-login" href="/login">Login</a>
            </div>
        </div>
    </div>
</div>