{% extends 'layout.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block header %}

    <div class="container-fluid header">
        <div class="container inner">
            <div class="title">Something wrent Wrong!</div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container body error">
        {% if status %}
            {% if status == '404' %}
                <h3>Oops! Couldn't find the requested page!</h3>
            {% else %}
                <h3>Message:</h3> {{ message }}
                <pre>Error: {{ error }}</pre>
            {% endif %}
        {% else %}
            <h3>Message:</h3> {{ message }}
            <pre>Error: {{ error }}</pre>
        {% endif %}
    </div>

{% endblock %}