{% extends 'layout.html.twig' %}

{% block title %}Automica{% endblock %}

{% block header %}

    <div class="container-fluid header">
        <div class="container inner">
            <div class="title">{{ title }}</div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container-fluid body">
        {{ message }}
    </div>

{% endblock %}