.header {
    border-bottom: 2px solid black;
}
.header .inner .title {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    padding: 25px 0px;
    color: #000000;
}

.body {
    margin-top:50px;
}

.body.error {
    background: lightgrey;
    border-radius: 10px;
    padding: 20px 40px;
}
