{% extends '../layout.html' %}

{% block header %}

{% include '../partials/header.html' with {
    'title': title,
    'isloggedin': isloggedin
}  only %}

{% endblock %}

{% block content %}

<div class="main">
  <div class="articles">
    <div class="header">
      Articles
    </div>
    <div class="buttons">
      <a href="/admin/article/add" class="button">Add</a>
      <a href="/admin/article/edit" class="button">Edit</a>
      <a href="/admin/article/delete" class="button">Delete</a>
    </div>

  </div>
</div>

{% endblock %}
