
.content {
  .add-article {
    input {
      margin-bottom: 25px;
    }
  }
  .articles {
    .article {
      font-family: 'Lora', serif;
      .title {
        padding-bottom: 10px;
      }
      .subtitle {
        padding-bottom: 5px;
      }
      .content {
        font-size: 16px;
      }
      .author {
        margin: 25px 0px;
        padding: 25px 0px;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
      }
    }

    .tags {
      .title {
        margin-top: 110px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
      }

      span.tag {
        background-color: lightgrey;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-size: 12px;
        padding: 3px;
        margin-right: 5px;

        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;

        &:hover {
          color: dodgerblue;
          cursor: pointer;
        }
      }
    }
  }
}

.content {
  margin-top:50px;

  .error {
    background: lightgrey;
    border-radius: 10px;
    padding: 20px 40px;
  }

  .message {
    margin-bottom: 100px;
  }

  .hidden {
    display: none;
  }
}

.button {
  padding: 8px 20px;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background: transparent;
  font-weight: 400;
  margin-top: 25px;

  &:hover {
    background: black;
    color: white;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
  }
}

.header {

  border-bottom: 2px solid black;
  font-family: 'Open Sans', sans-serif;

  .inner{
    .login, .logout, .admin {
      margin-top: 33px;
      font-size: 16px;
    }
    .admin {
      margin-right:20px;
    }
    .title {
      font-size: 28px;
      padding: 25px 0px;
      color: #000000;
      a {
        color: #000000;
        text-decoration: none;
      }


    }

    input.username, input.password {
      border: 2px solid black;
      padding: 9px 0px;
      text-align: center;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
      background: transparent;
      font-weight: 400;
      margin-top: 23px;
      opacity: 0;
      display: none;

      &:focus {
        background: black;
        color: white;
        font-weight: 600;
      }

      ::-webkit-input-placeholder {
        color: black;
        font-size: 16px;
      }
    }
  }
}

@keyframes scaleToOrigin {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}

body {

  .alertbox {
    width: 100%;
  }
  .alert {
    width: 40%;
    margin: 20px auto;
  }
}

body, html {
    height: 100%;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    padding: 25px;
}

input {
    background: transparent;
    font-weight: 400;
    margin-top: 20px;
    border: 2px solid black;
    padding: 9px 0px;
    text-align: center;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-weight: 600;

    &:focus {
      background: black;
      color: white;
      font-weight: 600;
    }
}

button {
    margin-top: 20px;
    padding: 8px 20px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    background: transparent;
    font-weight: 400;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-weight: 600;

    &:hover {
      background: black;
      color: white;
      font-weight: 600;
      cursor: pointer;
    }
}
