html, body {
    height: 100%;
}

body {
    margin: 0;
}

.main {
  display: flex;
  height: 100%;
  margin-top: 100px;
  align-items: flex-start;;
  justify-content: center;
  .articles {
    width: 50%;
    .header {
      text-align: center;
      padding: 20px 6px;
      border: 2px solid #000000;
      font-size: 20px;
      font-weight: 400;
      background: transparent;
      color: black;
      margin-bottom: 25px;
    }

.buttons {
  display: flex;
  justify-content: space-between;

  .button {
    width: 30%;
    padding: 8px 20px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: transparent;
    font-weight: 400;

    &:hover {
      background: black;
      color: white;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

  }
}
