.content {
  .add-article {
    input {
      margin-bottom: 25px;
    }
    .button {
      margin-top: 25px;
    }
  }
  .articles {
    .article {
      font-family: 'Lora', serif;
      border-top: 1px solid lightgrey;
      min-height: 300px;
      .moderation {
        margin-bottom: 80px;
        a.button {
          margin-left: 1%;
        }
      }
      .subtitle {
        margin-top: 50px;
      }
      .article--content {
        font-size: 16px;
      }
      .author {
        margin: 25px 0px;
        padding: 25px 0px;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
      }
    }

    .tags {
      .title {
        padding: 10px;
        border-top: 1px solid black;
        margin-bottom: 10px;
      }
      .author {
        margin-top: 5px;
      }
      span.tag {
        background-color: lightgrey;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-size: 12px;
        padding: 3px;
        margin-right: 5px;

        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;

        &:hover {
          color: dodgerblue;
          cursor: pointer;
        }
      }

      .release--date {
        margin-top: 25px;
      }
    }
  }
}
