.content {
  .add-article {
    input {
      margin-bottom: 25px;
    }
    .button {
      margin-top: 25px;
    }
  }
  .article {
    font-family: 'Lora', serif;
    border-top: 1px solid lightgrey;
    min-height: 300px;
    .moderation {
      margin-bottom: 80px;
      a.button {
        margin-left: 1%;
      }
    }
    .subtitle {
      margin-top: 50px;
    }
    .article--content {
      font-size: 16px;
    }
    .author {
      margin: 25px 0px;
      padding: 25px 0px;
      border-bottom: 1px solid lightgrey;
      border-top: 1px solid lightgrey;
    }
  }

  .sidebar {

    .inner {
      border-top: 1px solid black;

      .tags {
        padding: 10px;
        border-bottom: 1px solid lightgrey;

        .tag {
          background-color: lightgrey;
          border: 1px solid lightgrey;
          border-radius: 5px;
          font-size: 12px;
          padding: 3px;
          margin-right: 5px;

          -moz-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;

          &:hover {
            color: dodgerblue;
            cursor: pointer;
          }
        }
      }
    }
    .author {
      margin-top: 5px;
      padding: 10px;
      border-bottom: 1px solid lightgrey;
    }

    .release--date {
      margin-top: 5px;
      padding: 10px;
      border-bottom: 1px solid lightgrey;
    }
  }
}
