{% extends '../../layout.html' %}

{% block header %}

{% include '../../partials/header.html' with {
    'title': title,
    'isloggedin': isloggedin
}  only %}

{% endblock %}

{% block content %}

<div class="main">
  <div class="articles">
    <div class="articles--add">
        <input type="text" name="title" value="" placeholder="Title">
        <textarea>Easy (and free!) You should check out our premium features.</textarea>
        <a href="admin/article/add" class="button pull-right">Add</a>
    </div>

  </div>
</div>
{% endblock %}
